
//- nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role='navigation')
//-   .container
//-     a.navbar-brand(href='/') REVIEW CRAFTS
//-     .collapse.navbar-collapse(id='navbarSupportedContent')
//-     ul.navbar-nav.mr-auto
//-       li.nav-item.active
//-         a.nav-link(href='/') Home
//-       li.nav-item
//-         a.nav-link(href='/Profile') Profile
//-       li.nav-item
//-     ul.navbar-nav.float-right
//-       li.nav-item
//-         a.nav-link(href='/logout') Logout
//-         block content
//- include ../includes/layout.pug

//-  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
//- .container.bootdey.flex-grow-1.container-p-y
//-   .media.align-items-center.py-3.mb-3
//-     img.d-block.ui-w-100.rounded-circle(src=user.picture alt='')
//-     .media-body.ml-4
//-       h4.font-weight-bold.mb-0
//-         | #{user.name}
//-         span.text-muted.font-weight-normal @#{user.nickname}
//-       .text-muted.mb-2 
      
//-         i.fa.fa-mail
//-   .card.mb-4
//-     .card-body
//-       table.table.user-view-table.m-0
//-         tbody
//-           tr
//-             td Registered:
//-             td 
//-           tr
//-             td Latest activity:
//-             td 
//-           tr
//-             td Verified:
//-             td
//-               span.fa.fa-check.text-primary
//-               | &nbsp; #{user.email_verified}
//-           tr
//-             td Role:
//-             td User
//-           tr
            
//-     hr.border-light.m-0
//-     .table-responsive
//-       table.table.card-table.m-0
//-         tbody
//-           tr
//-             th Rating
//-             th 5 Star
//-             th 4 Star
//-             th 3 Star
//-             th 2 Star
//-             th 1 Star
//-           tr
//-             td Users
//-             td
//-               span.fa.fa-check.text-primary
//-             td
//-               span.fa.fa-times.text-light
//-             td
//-               span.fa.fa-times.text-light
//-             td
//-               span.fa.fa-times.text-light
//-           tr
//-             td Breweries
//-             td
//-               span.fa.fa-check.text-primary
//-             td
//-               span.fa.fa-check.text-primary
//-             td
//-               span.fa.fa-check.text-primary
//-             td
//-               span.fa.fa-times.text-light
//-           tr
//-             td Rates
//-             td
//-               span.fa.fa-times.text-light
//-             td
//-               span.fa.fa-times.text-light
//-             td
//-               span.fa.fa-times.text-light
//-             td
//-               span.fa.fa-times.text-light
 
//-     .card-body
//-       table.table.user-view-table.m-0
//-         tbody
//-       h6.mt-4.mb-3 Social links
//-       table.table.user-view-table.m-0
//-         tbody
//-           tr
//-             td Twitter:
//-             td
//-               a(href='javascript:void(0)') https://twitter.com/#{user.nickname}
//-           tr
//-             td Facebook:
//-             td
//-               a(href='javascript:void(0)') https://www.facebook.com/#{user.nickname}
//-           tr
//-             td Instagram:
//-             td
//-               a(href='javascript:void(0)') https://www.instagram.com/#{user.nickname}
//-       h6.mt-4.mb-3 Personal info
//-       table.table.user-view-table.m-0
//-         tbody    
//-           tr
//-             td Languages:
//-             td English
//-       h6.mt-4.mb-3 
//-       table.table.user-view-table.m-0
//-         tbody
//-           tr
//-       h6.mt-4.mb-3
//-       table.table.user-view-table.m-0
//-         tbody
//-           tr
            
//-           tr
        
//- include  ../includes/footer.pug
        


  

