doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x', crossorigin='anonymous')
    link(rel='stylesheet', href='/styling.css')
  body
    .container
        include includes/header.pug 
            
        h2.mb-3.text-center.mb-5.mt-5 Search a City
        form.d-flex.mb-5
            input#search-input.form-control.mr-2(type='serach', placeholder='Search', aria-label='Search')
            button#search-button.btn.btn-dark.bg-dark.btn-outline-success(type='submit', onclick='citySearch(event)') Search
        
        h3.mb-3.text-center TOP 5 BREWERIES 
        .table-responsive-md 
        table.top-5.table.table-dark.bg-dark.table-hover.table-bordered 
            thead 
                tr 
                    th Brewery Rank 
                    th Name 
                    th City
                    th Rating
                    th No. of Reviews
            tbody
                each brewery, index in breweries
                    tr
                        td= index +1
                        td= brewery.name
                        td= brewery.city
                        td= rating[index]
                        td= reviewCount[index]

    
        include includes/footer.pug  
    
    script(src='/script.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js', integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4', crossorigin='anonymous')